.navigation{
	display: block;
	/*width: 100%;*/
	padding: 20px;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	align-items: center;
}
.navigation a{
	text-decoration: none;
	color: #aaa;
}

a.active{
	color: #000;
}


.navList{
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;

}

.navItem{
	font-size: 16px;
	cursor: pointer;
	transition: all 0.2s ease;
}

.navItem:hover{
	color: #000;
}


.OpenImg{
	height: 100%;
	padding: 1rem;
	display: none;
	cursor: pointer;
}
.menu{
	display: none;
}


@media (max-width: 768px){
	.navList{
		display: none;
	}

	.OpenImg{
		display: inline-block;
		margin: 0;	
	}
	.Login{
		display: none;
	}
}