.Donation{
	width: 100%;
	min-height: 80vh;
	height: 100%;
	padding: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.DonationFormBox{
	flex-basis: 55%;
	padding: 20px;
}

.img{
	margin: 0;
	width: 40%;
}

.supportText{
	margin-top: 15px;
	font-size: 12px;

}

@media (max-width: 1100px){
	.img{
		width: 35%;
	}

	.DonationFormBox{
		flex-basis: 65%; 
	}
}


@media (max-width: 800px){
	.img{
		display: none;
	}

	.DonationFormBox{
		flex-basis: 100%;
	}
}

@media (max-width: 625px){
	.Donation{
		padding: 30px;
	}
}