.Homepage{
	display: grid;
	grid-template-columns: minmax(30px, 5rem) 1fr  minmax(30px, 5rem); 
	background-color: #fff;
	width: 100
}


section.header{
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-between;	
	align-items: center;
	height: 60vh;
	padding: 100px;
	padding-bottom: 0;
}

section.header image{
	flex-basis: 50%;
}

/*.img{
	height: 300px;
}*/

.headerContainer{
	flex-basis: 40%;
}

.headerContainer h1{
	font-size: 50px;
	/*font-family: 'Roboto', sans-serif;*/
	color: #828282;
}

.headerText{
	color:#828292;
	font-size: 19px;
	margin-bottom: 50px;
	font-family: 
}

.colored{
	color: #eb7722;
}

.AdditionalInfo{
	grid-column: 1 / -1;
	text-align: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 100px;

}

.AdditionalInfo image{
	flex-basis: 50%;
}

h1.sectionHeading{
	font-size: 30px;
	color: #eb7722;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.sectionText{
	color: #828282;
	font-size: 19px;
	line-height: 1.7;
}

.goals{
 grid-column: 1 / -1;
 padding: 100px;
}

.cardList{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.contact{
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-between;
	background-color: #EAEAEA;
	padding: 100px;
	padding-top: 0;
	padding-right: 0;
	align-items: center;
	position: relative;
}

.contactBox{
	height: 450px;
	width: 550px;
	background-color:#fff;
	box-shadow: 0 4px 6px #00000030;
	border-radius: 5px;
}

.contactBox img{
	height: 100%;
}

.LocationText{
	position: absolute;
	font-size: 15px;
	color: #828282;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
}

.darkify{
	color: #000;
	display: inline;
}

.img2{

}

.img3{

}

.footer{
	grid-column: 1 / -1;
	padding: 100px;
	text-align: center;
	background-color: #353535;
	width: 100%;
}



.copyRightText{
	color: #ccc;
}














