.responseContainer{
	padding: 60px 40px;
}
.recipient{
	margin-bottom: 30px;
}
.greyedOut{
	background-color: #ccc;
	padding: 10px 15px;
	color: #333;
	margin-left: 30px;
	border-radius: 	3px;
}

.input{
	margin-bottom: 	50px;
	display: block;
	width: 	100%;
	outline:  none;		
	height:	50vh;
	padding: 20px;
	color: 	#000;
}

